.pokemon-card-box {
  position: relative;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

/* .pokemon-card-box-animation {
  transform: rotateY(180deg);
  transition: transform 0.2s;
} */

.card-inner-rotation {
  transform: rotateY(180deg);
  transition: transform 0.2s;
}
