.front-card,
.back-card {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
}

/*TODO align the content in the middle*/
.back-card {
  width: 90% !important;
  position: absolute;
  left: 0;
  padding-right: 1em;
  top: 0;
  transform: rotateY(180deg);
  will-change: transform;
}
