html {
  overflow-y: scroll;
}

@font-face {
  font-family: 'Permanent Marker';
  src: url(https://fonts.gstatic.com/s/permanentmarker/v16/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cf5b6jlg.woff2)
    format('woff2');
  font-display: block;
}
body {
  font-family: Permanent Marker, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

ul {
  padding: 0;
  list-style: none;
}
